.navbar {
	max-height:10vh;
}
#imgitem {
	max-height:15vh;
}
#imgnav {
	max-height:8vh;
}
.login{
	display:flex;
	height:50vh;
	flex-direction:column;
	justify-content:center;
	align-items:stretch;
	margin-top:10vh;
}
.google{
	margin-top:5vh;
}