<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<meta content={% block content %}{% endblock %}" name="description">
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	{% block head %}
	{% endblock %}
	<link rel="icon" href="img/logo.png" type="image/png">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" type="text/css">
	<link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet" type="text/css">
</head>
<body class="container-fluid">

    <nav class="navbar navbar-expand-sm bg-light sticky-top row">
		<a class="navbar-brand col-8" href="{{url_for('index')}}"><h1>Welcome to catalog app!</h1></a>
		<div class="col-4 nav justify-content-end">
			<div calss="row">
			{%if 'username' not in session %}
				<a class="nav-item" href="{{url_for('showLogin')}}"><button type="button" class="btn btn-primary">Login</button></a>
			{% else %}
				<img id="imgnav" class="rounded-circle img-fluid" src="{{session['picture']}}" alt="profile picture">
				<span class="nav-item" >{{ session['username'] }}</span>
				<a class="nav-item" href="{{url_for('disconnect')}}"><button type="button" class="btn btn-primary">Logout</button></a>
			{% endif %}
			</div>
		</div>
    </nav>
    <div class="container">
	<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong class="text-secondary"> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>
